<h1><%= link_to "Welcome!", :welcomeindex %> </h1>
<p>Hi, this is George's Last.FM Best Friend Finder</p>

<%= render :partial => 'search_form' %>


<p><%= user_dump %></p>
<p><%= neighbours_dump%></p>
<p><%= link %></p>